.board {
    width: 700px;
    background-color: #504f4f;
    flex-wrap: wrap;

    .square {
        width: 87px;
        height: 65px;
        border: 1px solid #081011;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            background-color: #b4aeae;
        }
    }

    .selected-square-bg {
        background-color: #8d8f1b !important;
    }
}


@media (max-width : 800px) {
    .board {
        width: 350px;

        .square {
            width: 43px;
            height: 40px;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}