.car {

    img {
        width: 120px;
        height: 190px;
    }

    .myCar {
        position: absolute;
        bottom: 0px;
        width: 110px;
        height: 150px;
        z-index: 30;
    }

    .car1 {
        width: 110px;
        height: 160px;
    }

    .car2 {
        width: 90px;
        height: 140px;
    }

    .stop-game-message{
        position: absolute;
        top : 30%;
        left: 35%;
        width : 30%;
        height: 300px;
        border-radius: 20px;
        background-color: #000000ED;
        color : white;
        z-index: 40;
        button{
            width : 50%;
            height: 50px;
            font-size: 20px;
            border-radius: 10px;
            margin-top : 20px;
            cursor: pointer;
            &:hover{
                background-color: rgb(216, 211, 211);
            }
        }
    }

}


@media (max-width : 750px) {
    .car {
        img {
            width: 90px;
            height: 160px;
        }

        .myCar {
            width: 80px;
            height: 120px;
        }

        .car1 {
            width: 80px;
            height: 130px;
        }

        .car2 {
            width: 60px;
            height: 110px;
        }
    }
}