.labels-row-container {
    height: 520px;
    margin-bottom: 70px;

    .label-row {
        height: 12.5%;
        color: white;
        padding : 10px;
    }
}


@media (max-width : 800px) {
    .labels-row-container {
        height: 100%;

        .label-row{
            padding: 8px 10px;
        }
    }
}