.return-arrows {
    margin: 20px;

    svg {
        user-select: none;
        width: 40px;
        height: 40px;
        margin: 0px 30px;
        cursor: pointer;
        color: white;
        transition: all .5s ease;

        &:hover {
            color: rgb(224, 181, 100);
        }
    }
}