.promote-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000088;

    .promote {
        width: 250px;
        height: 70px;
        background-color: rgb(172, 163, 163);
        border-radius: 10px;

        svg {
            width: 70px;
            height: 40px;
            cursor: pointer;
            transition: all .5s ease;

            &:hover {
                color: #277748 !important;
            }
        }
    }
}