.app {
    width: 100%;
    height: 100vh;

    .indicators {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        z-index: 0;

        .indicator {
            position: relative;
            top: 0px;
            width: 50%;
            margin-top : 20px;
            img{
                width : 30px;
                height: 200px;
            }
        }

    }

    .daytime-image {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 100;
    }
}